.container
{
    background-color: black;
    max-width: 900px;
    margin: auto;
    width:100%;
}
.image img
{
    margin-top: 40px;
    border-radius: 50%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background-color:blue;
}
.name
{
    font-size: 2rem;
    color:aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.description
{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    font-family: consolas;
    color: darkgoldenrod;
}
pre
{
    color:white;
    text-align: center;
}
ul
{
   list-style-type: none;
    margin-left:12rem;
    padding:0;
}
li
{
    display: inline-block;
    text-align: center;
}
a
{
    padding:30px;
}
.social-media
{
    margin-bottom: 40px;
}

